<section class="w-fit">
  <h1>
    Editing User
  </h1>
  <%= form_with model: @user,
                url: account_path,
                local: true,
                builder: FormBuilders::NiceFormBuilder do |form| %>
    <%= form.text_field :name %>
    <%= form.text_field :email %>
    <%= form.select :time_zone,
                    ActiveSupport::TimeZone.all.collect { |t|
                      t.tzinfo.name
                    }.sort.uniq,
                    selected: @user.time_zone
    %>
    <hr>
    <h2> Change Password: </h2>
    <%= form.password_field :password %>
    <%= form.password_field :password_confirmation %>
    <%= form.submit "Save" %>
  <% end %>
</section>

<section>
  <%= form_with(url: logout_path, method: :delete) do %>
    <%= submit_tag "log out", data: { confirm: "Are you sure?" } %>
  <% end %>
</section>
