%section.w-fit
  %h1
    Editing User
  = form_with model: @user,                          |
    local: true,                                     |
    builder: FormBuilders::NiceFormBuilder do |form| |
    = form.text_field :name
    = form.text_field :email
    = form.select :time_zone,                   |
      ActiveSupport::TimeZone.all.collect { |t| |
        t.tzinfo.name                           |
      }.sort.uniq,                              |
      selected: @user.time_zone                 |
    %hr/
    %h2 Change Password:
    = form.password_field :password
    = form.password_field :password_confirmation
    = form.submit "Save"
%section
  = form_with(url: logout_path, method: :delete) do
    = submit_tag "log out", data: { confirm: "Are you sure?" }
