<div class="w-full max-w-xs bg-white shadow-md p-8 mt-8">
  <h1>
    <%= @user.name %>
  </h1>
  <p>
    <%= @user.updated_at %>
  </p>
  <p>
    time zone: <%= @user.time_zone %>
  </p>
  <ul>
    <% if Current.user == @user %>
      <li>
        <%= link_to "edit", edit_user_path(@user) %>
      </li>
    <% end %>
    <% if Current.user.admin? %>
      <li>
        <%= link_to "admin edit", admin_user_path(@user), class: "admin" %>
      </li>
    <% end %>
  </ul>
</div>
