<% if Current.user.present? %>
  <div class="account-menu z-10">
    <div class="account-menu-contents">
      <h1 class="tracking-wide text-lg"><%= Current.user.name %></h1>
      <ul>
        <li><%= link_to 'account settings', edit_admin_user_url(Current.user) %></li>
        <% if Current.user.admin? %>
          <li><%= link_to 'users admin', admin_users_path %></li>
        <% end %>
        <% if Current.impersonating? %>
          <li>stop impersonating</li>
        <% end %>
        <li>profile</li>
        <li>notifications</li>
        <li>linked devices</li>
        <li>
          <%= form_with url: logout_url, method: :delete, local: true do %>
            <%= submit_tag 'log out', class: 'linkify' %>
          <% end %>
        </li>
      </ul>
    </div>
    <input type="checkbox" class="hidden" id="account-menu-toggle">
    <label for="account-menu-toggle">
      <img src="<%= image_path("account_placeholder.png") %>" style="width: 40px">
    </label>
  </div>
<% end %>
