= form_with(model: @event, local: true, builder: FormBuilders::NiceFormBuilder) do |form|
  = form.text_field :name
  = form.textarea :description, placeholder: "Description"
  = form.date_select :date, label: { text: "Day" }
  = form.time_select :date, label: { text: "Time" }, ignore_date: true
  = form.collection_checkboxes :band_ids, @bands, :id, :name,
    { label: { text: "Bands" } },
    { multiple: true }
  - if flash[:saved]
    .success_message Saved Successfully!
  %p.text-right
    = form.submit 'Save', class: 'primary_button'
