.md:flex.justify-between
  - band_id = params[:band_id]
  - css = "mr-4"
  - path_generator = local_assigns.fetch(:path_helper) { ->(options) { events_path(options) }}
  - base_options = { band_id: band_id }
  %p
    - options = base_options
    - path = path_generator.call(options)
    - selected = params[:period].nil?
    = filter_link('Upcoming', path, css, selected)
    - options = base_options.merge(period: 'past', sort: 'date desc')
    - path = path_generator.call(options)
    - selected = params[:period] == 'past'
    = filter_link('Past', path, css, selected)
    - options = base_options.merge(period: 'all')
    - path = path_generator.call(options)
    - selected = params[:period] == 'all'
    = filter_link('All', path, css, selected)

- if @events.any?
  .relative.overflow-x-auto
    %table
      %colgroup
        %col.w-auto.lg:w-80
        %col{style: "width: 1%;"}
        %col{style: "width: 1%;"}
        %col{style: "width: 1%"}
        %col{style: "width: 1%;"}
        %col{style: "width: 1%;"}
      %thead
        %tr
          %th
            = table_header_sort('events', 'name', 'name', 'date')
          %th
            = table_header_sort('events', 'date', 'date', 'date')
          %th
            = table_header_sort('events', 'date', 'time', 'date')
          %th.hidden.md:table-cell
            = table_header_sort('events', 'created', 'created')
          %th.hidden.md:table-cell
            = table_header_sort('events', 'last_modified', 'modified')
      %tbody
        - @events.each do |event|
          %tr
            %td
              - name = event.name != "" ? event.name : "NOT SET"
              - path = event_path(event)
              - title = event.description
              = link_to (name), path, class: 'break-all', title:
            %td.whitespace-nowrap
              = event.date&.strftime('%a %d %b %Y') || "NOT SET"
            %td.whitespace-nowrap
              = event.date&.strftime('%H:%M') || "NOT SET"
            - title = "#{event.created_at}"
            %td.hidden.md:table-cell.whitespace-nowrap{title:}
              = time_ago_in_words(event.created_at)
            - title = "#{event.updated_at}"
            %td.hidden.md:table-cell.whitespace-nowrap{title:}
              = time_ago_in_words(event.updated_at)
- else
  - if params[:band_id].present?
    %p No events found matching that filter
  - elsif Current.user.organiser?
    %p No events found - add one with the button above.
  - elsif Current.user.member?
    %p No events found - an organiser needs to invite you to one.
  - elsif Current.user.admin?
    %p No events found - an organiser needs to create one.
