.md:flex.justify-between
  - band_id = params[:band_id]
  - path_generator = local_assigns.fetch(:path_helper) { ->(options) { events_path(options) }}

  -# Time period filters
  - upcoming = { label: 'Upcoming', value: nil }
  - past = { label: 'Past', value: 'past', extra: { sort: 'start_date desc' } }
  - all = { label: 'All', value: 'all' }
  - period_filters = [upcoming, past, all]
  = render_filter_group(period_filters, :period, [:band_id], &path_generator)

- if @events.any?
  .relative.overflow-x-auto
    %table
      %colgroup
        %col.w-auto.lg:w-80
        %col{style: "width: 1%;"}
        %col{style: "width: 1%;"}
        %col{style: "width: 1%"}
        %col.hidden.md:table-cell{style: "width: 1%;"}
        %col.hidden.md:table-cell{style: "width: 1%;"}
      %thead
        %tr
          %th
            = table_header_sort('events', 'name', 'name', 'start_date')
          %th
            = table_header_sort('events', 'start_date', 'date', 'start_date')
          %th
            = table_header_sort('events', 'start_date', 'time', 'start_date')
          %th.hidden.md:table-cell
            = table_header_sort('events', 'created', 'created')
          %th.hidden.md:table-cell
            = table_header_sort('events', 'last_modified', 'modified')
      %tbody
        - @events.each do |event|
          %tr
            %td
              - name = event.name != "" ? event.name : "NOT SET"
              - path = event_path(event)
              - title = event.description
              = link_to (name), path, class: 'break-all', title:
            %td.whitespace-nowrap
              = event.start_date&.strftime('%a %d %b %Y') || "NOT SET"
            %td.whitespace-nowrap
              = event.start_date&.strftime('%H:%M') || "NOT SET"
            - title = "#{event.created_at}"
            %td.hidden.md:table-cell.whitespace-nowrap{title:}
              = time_ago_in_words(event.created_at)
            - title = "#{event.updated_at}"
            %td.hidden.md:table-cell.whitespace-nowrap{title:}
              = time_ago_in_words(event.updated_at)
- else
  - if params[:band_id].present?
    %p No events found matching that filter
  - elsif Current.user.organiser?
    %p No events found - add one with the button above.
  - elsif Current.user.member?
    %p No events found - an organiser needs to invite you to one.
  - elsif Current.user.admin?
    %p No events found - an organiser needs to create one.
