%section.md:mr-4.w-full
  %h1.mb-4= event.name
  - if event.description.present?
    %p
      = event.description
  - if event.duration
    %p
      %strong Start Date:
      = event.start_date&.strftime('%Y-%m-%d')
    %p
      %strong Start Time:
      = event.start_date&.strftime('%H:%M')
    %p
      %strong End Date:
      = event.end_date&.strftime('%Y-%m-%d')
    %p
      %strong End Time:
      = event.end_date&.strftime('%H:%M')
    %p
      %strong Duration:
      = event.duration
  - else
    %p
      %strong Date:
      = event.start_date&.strftime('%Y-%m-%d')
    %p
      %strong Time:
      = event.start_date&.strftime('%H:%M')
  %figure
    %figcaption Bands:
    %ul
      - event.bands.each do |band|
        %li
          - name = band.name != "" ? band.name : "NOT SET"
          - path = band_path(band)
          - title = band.description
          = link_to (name), path, class: 'break-all', title:
  .mt-4
    - if event.editable?
      = link_to 'Edit', edit_event_path(event), |
        class: 'primary_button'                 |
    = link_to 'Back', events_path, class: 'secondary_button'
%section
  %ul
    - if event.start_date
      %li
        This event is:
        %strong
          = distance_of_time_in_words(Time.now, event.start_date)
          from now
    %li
      %strong= t('audit.versions_label')
      = render 'shared/audit_history', audits: event.events_audits