<% content_for :title, "All Events" %>
<section>
  <div class="flex justify-between mb-8">
    <%= page_heading("Events") %>
    <span>
      <% if Current.user.organiser? %>
        <%= link_to 'Add Event', new_event_path, class: 'secondary_button ml-2' %>
      <% end %>
    </span>
  </div>
  <div class="md:flex justify-between">
    <p>
      <%= filter_link(
            'Upcoming',
            events_path(
              band_id: params[:band_id]
            ),
            'mr-4',
            params[:period].nil?)
      %>
      <%= filter_link(
            'Past',
            events_path(
              period: 'past',
              band_id: params[:band_id],
              sort: 'date desc'
            ),
            'mr-4',
            params[:period] == 'past'
          ) %>
      <%= filter_link(
            'All',
            events_path(
              period: 'all',
              band_id: params[:band_id]
            ),
            'mr-4',
            params[:period] == 'all'
          ) %>
    </p>
  </div>
  <% if @events.any? %>
    <div class="relative overflow-x-auto">
      <table>
        <colgroup>
          <col class="w-auto lg:w-80">
          <col style="width: 1%;">
          <col style="width: 1%;">
          <col style="width: 1%">
          <col style="width: 1%;">
          <col style="width: 1%">
        </colgroup>
        <thead>
          <tr>
            <th><%= table_header_sort('events', 'name', 'name', 'date') %></th>
            <th><%= table_header_sort('events', 'date', 'date', 'date') %></th>
            <th><%= table_header_sort('events', 'date', 'time', 'date') %></th>
            <th class="hidden md:table-cell"><%= table_header_sort('events', 'created', 'created') %></th>
            <th class="hidden md:table-cell"><%= table_header_sort('events', 'last_modified', 'modified') %></th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= link_to event.description, event_path(event), class: 'break-all', title: event.description %></td>
              <td class="whitespace-nowrap" title="<%= event.date.strftime('%a %d %b %Y') %>"><%= event.date.strftime('%a %d %b %Y') %></td>
              <td class="whitespace-nowrap" title="<%= event.date.strftime('%H:%M') %>"><%= event.date.strftime('%H:%M') %></td>
              <td class="hidden md:table-cell whitespace-nowrap" title="<%= event.created_at %>"><%= time_ago_in_words(event.created_at) %></td>
              <td class="hidden md:table-cell whitespace-nowrap" title="<%= event.updated_at %>"><%= time_ago_in_words(event.updated_at) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <% if params[:band_id].present? %>
      <p>No events found matching that filter</p>
    <% elsif Current.user.organiser? %>
      <p>No events found - add one with the button above.</p>
    <% elsif Current.user.member? %>
      <p>No events found - an organiser needs to invite you to one.</p>
    <% elsif Current.user.admin? %>
      <p>No events found - an organiser needs to create one.</p>
    <% end %>
  <% end %>
</section>
