- headers = []
- headers << {name: 'name', display: 'Item', wide: true}
- headers << {name: 'type', display: 'Type'}
- headers << {name: 'access', display: 'Access'}
- headers << {name: 'status', display: 'Status'}
- headers << {name: 'bestower', display: 'Bestower'}
- headers << {name: 'created', display: 'Created', class: 'hidden md:table-cell'}

- if permissions.any?
  %h2
    = "Direct Permissions"
    %small (#{permissions.count})
  .relative.overflow-x-auto
    %table
      %thead
        %tr
          = table_headers(:direct_sort, headers, 'permissions')
      %tbody
        - permissions.each do |permission|
          %tr
            %td
              = link_to permission.item.name, permission.item, class: 'break-all'
            %td= permission.item_type
            %td= permission.permission_type
            %td= permission.status
            %td
              - if permission.bestowing_user == Current.user
                %em You!
              - else
                = link_to permission.bestowing_user.username, permission.bestowing_user
            %td.hidden.md:table-cell.whitespace-nowrap{title: "#{permission.created_at}"}
              = time_ago_in_words(permission.created_at)
- else
  - message = if Current.user.organiser?
    - "No shares found - invite a member to share an item with the button above."
  - elsif Current.user.member?
    - "No shares found - an organiser can invite you to edit or view."
  - elsif Current.user.admin?
    - "No shares found - an organiser needs to create one."
  %p= message
