- if permissions.any?
  %h2 Direct Permissions
  .relative.overflow-x-auto
    %table
      %thead
        %tr
          %th.w-auto.lg:w-80
            = table_header_sort('permissions', 'name', 'Item', 'name', request.query_parameters.merge({}).except(:direct_sort), :direct_sort)
          %th{style: "width: 1%"}
            = table_header_sort('permissions', 'type', 'Type', 'type', request.query_parameters.merge({}).except(:direct_sort), :direct_sort)
          %th{style: "width: 1%"}
            = table_header_sort('permissions', 'status', 'Status', 'status', request.query_parameters.merge({}).except(:direct_sort), :direct_sort)
          %th{style: "width: 1%"}
            = table_header_sort('permissions', 'recipient', 'User', 'recipient', request.query_parameters.merge({}).except(:direct_sort), :direct_sort)
          %th.hidden.md:table-cell{style: "width: 1%;"}
            = table_header_sort('permissions', 'created', 'Created', 'created', request.query_parameters.merge({}).except(:direct_sort), :direct_sort)
      %tbody
        - permissions.each do |permission|
          %tr
            %td
              = link_to permission.item.name, permission.item, class: 'break-all'
            %td
              = permission.item_type
            %td
              = permission.status
            %td
              = permission.user.username
            %td.hidden.md:table-cell.whitespace-nowrap{title: "#{permission.created_at}"}
              = time_ago_in_words(permission.created_at)
- elsif Current.user.organiser?
  %p No shares found - invite a member to share an item with the button above.
- elsif Current.user.member?
  %p No shares found - an organiser can invite you to edit or view.
- elsif Current.user.admin?
  %p No shares found - an organiser needs to create one.