- headers = []
- headers << {name: 'name', display: 'Item', default: 'name', wide: true}
- headers << {name: 'source', display: 'Source', default: 'source', wide: true}
- headers << {name: 'type', display: 'Type', default: 'type'}
- headers << {name: 'status', display: 'Access', default: 'status'}

- if items.any?
  %h2
    = "Effective Permissions"
    %small (#{items.count})
  .relative.overflow-x-auto
    %table
      %thead
        %tr
          = table_headers(:effective_sort, headers, 'permissions')
      %tbody
        - items.each do |item|
          - permission = find_effective_permission_source(Current.user, item)
          %tr
            %td
              = link_to item.name, item, class: 'break-all'
            %td
              - if permission.nil?
                Direct access
              - else
                %strong #{permission.item_type}:
                = link_to permission.item.name, permission.item
            %td
              = item.class
            %td
              = item.permission_type
- else
  %p No items found with effective permissions.
