- if @permissions.any?
  %h2
    = "Direct permissions"
    %small (#{@permissions.count})
  .relative.overflow-x-auto
    %table
      %thead
        %tr
          - direct_columns = [
          -   { name: 'type', display: 'Type', default: "name" },
          -   { name: 'name', display: 'Name', default: "name", class: 'w-auto lg:w-80', wide: true },
          -   { name: 'status', display: 'Status', default: "name" },
          -   { name: 'recipient', display: 'Recipient', default: "name" },
          -   { name: 'created', display: 'Created', default: "name", class: 'hidden md:table-cell' },
          -   { name: 'last_modified', display: 'Modified', default: "name", class: 'hidden md:table-cell' }
          - ]
          = table_headers(:direct_sort, direct_columns, 'permissions')
      %tbody
        - @permissions.each do |permission|
          %tr
            %td #{permission.item_type}
            %td
              = link_to permission.item.name, permission.item, class: 'break-all'
            %td #{permission.status}
            %td #{permission.user.username}
            %td.hidden.md:table-cell.whitespace-nowrap{:title => "#{permission.created_at}"}
              = time_ago_in_words(permission.created_at)
            %td.hidden.md:table-cell.whitespace-nowrap{:title => "#{permission.updated_at}"}
              = time_ago_in_words(permission.updated_at)
- elsif Current.user.organiser?
  %p No shares found - invite a member to share an item with the button above.
- elsif Current.user.member?
  %p No shares found - an organiser can invite you to edit or view.
- elsif Current.user.admin?
  %p No shares found - an organiser needs to create one.
