<%= form_with model: band,
              builder: FormBuilders::NiceFormBuilder do |form| %>
  <%= form.text_field :name, required: true %>
  <%= form.text_area :description, required: false %>
  <div class="mb-8">
    <%= form.label :bands, "Members" %>
    <%= form.collection_check_boxes :member_ids, Member.all, :id, :name do |b| %>
      <div class="checkbox">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
  <%= form.submit %>
<% end %>
