<section>
  <% if @band.permission.any? %>
    <table class="mb-8">
      <thead>
        <th>User</th>
        <th>Status</th>
        <th>Type</th>
        <th>Created</th>
      </thead>
      <tbody>
        <% @band.permission.each do |permission| %>
          <tr>
            <td>
              <% if Current.user.admin? %>
              <%= link_to permission.user.name,
                admin_user_path(permission.user)
              %>
              <% else %>
                <%= permission.user.name %>
              <% end %>
              <% if Current.user == permission.user %>
                <em>- that's you!</em>
              <% end %>
            </td>
            <td>
              <%= permission.status %>
            </td>
            <td>
              <%= permission.permission_type %>
            </td>
            <td>
              <%= permission.created_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if Current.user.organiser? || Current.user.admin? %>
    <p>
      <%= link_to "Invite users to share this item",
        url_for(
          controller: "permissions",
          action: "new",
          item_type: "band",
          item_id: @band.id
        ),
        class: "primary_button"
      %>
    </p>
  <% end %>
</section>
