<% content_for :title, "Users" %>

<div class="md:flex">
  <section>
    <div class="flex justify-between mb-8">
      <h1>Users (<%= @users.count %>)</h1>
    </div>

    <p>
      <%= link_to "all users",
          admin_users_path,
          class: "#{@user_type.nil? ? 'mr-4 font-bold' : 'mr-4'}" %>
      <% @user_types.each do |type| %>
        <%= link_to type[0],
            url_for(controller: 'admin/users', action: :index, user_type: type[0]),
            class: "#{@user_type == type[0] ? 'mr-4 font-bold' : 'mr-4'}" %>
      <% end %>
    </p>

    <% if @users.present? %>
      <div class="relative overflow-x-auto">
        <table class="md:whitespace-nowrap">
          <colgroup>
            <col class="w-auto lg:w-80">
            <col class="w-auto lg:w-80">
            <col style="width: 1%">
            <col style="width: 1%">
            <col style="width: 1%">
            <col style="width: 1%">
            <col style="width: 1%">
          </colgroup>
          <thead>
            <tr>
              <th>username</th>
              <th>name</th>
              <th>confirmed</th>
              <th>type</th>
              <th>created</th>
              <th>updated</th>
            </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user.username,
                    admin_user_path(user),
                    class: "break-all" %>
              </td>
              <td>
                <%= user.name %>
              </td>
              <td>
                <%= user.confirmed %>
              </td>
              <td>
                <%= user.user_type %>
              </td>
              <td title="<%= user.created_at %>">
                <%= time_ago_in_words(user.created_at) %>
              </td>
              <td title="<%= user.updated_at %>">
                <%= time_ago_in_words(user.updated_at) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>No users found.</p>
    <% end %>
  </section>
</div>
