<section>
  <h1>Add Fake Users</h1>
  <%= form_with model: @add_fake_users_form, local: true, url: admin_users_url,
    builder: FormBuilders::TailwindFormBuilder do |form| %>
    <%= form.select :members, @numbers %>
    <%= form.select :bands, @numbers %>
    <%= form.select :events, @numbers %>
    <%= form.submit "Save" %>
  <% end %>
</section>