<section>
  <h1>
    <%= @user.username %>
  </h1>
  <ul>
    <li>
      <strong>Updated:</strong>
      <%= @user.updated_at %>
    </li>
    <li>
      <strong>Time Zone:</strong>
      <%= @user.time_zone %>
    </li>
    <% if Rails.env.development? %>
      <li>
        <%= form_with url: admin_impersonate_path, method: :post, local: true do %>
          <input name="user_id" value="<%= @user.id %>" type="hidden">
          <%= submit_tag 'Impersonate', class: 'linkify' %>
        <% end %>
      </li>
    <% end %>
    <li>
      <%= link_to "Profile", account_path %>
    </li>
    <li>
      <%= link_to "Edit", edit_admin_user_path(@user) %>
    </li>
  </ul>
</section>

<section class="md:w-auto">
  <% if @user.owned_links.any? %>
    <ul>
      <li><strong>Owns:</strong></li>
      <% for item in @user.owned_links %>
        <li>
          <strong><%= item.class %>:</strong>
          <%= link_to item do %>
            <%= item.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @user.owned_links.any? && @user.permissions.any? %>
    <hr>
  <% end %>
  <% if @user.permissions.any? %>
    <ul>
      <li><strong>Permissions:</strong></li>
      <% for permission in @user.permissions %>
        <li>
          <strong><%= permission.item_type %>:</strong>
          <%= link_to permission.item do %>
            <%= permission.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
