%section
  %h1
    = @user.username
  %ul
    %li
      %strong Updated:
      = @user.updated_at
    %li
      %strong Time Zone:
      = @user.time_zone
    - if Rails.env.development?
      %li
        = form_with url: admin_impersonate_path, method: :post, local: true do
          %input{:name => "user_id", :type => "hidden", :value => "#{@user.id}"}/
          = submit_tag 'Impersonate', class: 'linkify'
    %li
      = link_to "Profile", account_path
    %li
      = link_to "Edit", edit_admin_user_path(@user)
%section.md:w-auto
  - if @user.owned_links.any?
    %ul
      %li
        %strong Owns:
      - for item in @user.owned_links
        %li
          %strong
            = item.class
            \:
          = link_to item do
            = item.name
  - if @user.owned_links.any? && @user.permissions.any?
    %hr/
  - if @user.permissions.any?
    %ul
      %li
        %strong Permissions:
      - for permission in @user.permissions
        %li
          %strong
            = permission.item_type
            \:
          = link_to permission.item do
            = permission.item.name
