= form_with model: @member,                        |
  local: true,                                     |
  builder: FormBuilders::NiceFormBuilder do |form| |
  = form.text_field :name, required: true
  = form.text_area :description
  = form.text_area :skills_list
  .mb-8
    = form.label :bands, "Bands"
    = form.collection_check_boxes :band_ids, Band.all, :id, :name do |b|
      .checkbox
        = b.check_box
        = b.label
  = form.submit
