<section>
  <div class="flex justify-between mb-8">
    <h1>Members</h1>
    <%= link_to 'Add Member', new_member_path if (
      Current.user.organiser? ||
        Current.user.member? && Current.user.members.empty?
    ) %>
  </div>
  <% if @members.present? %>
    <div class="relative overflow-x-auto">
      <table>
        <colgroup>
          <col class="w-auto lg:w-80">
          <col style="width: 1%">
          <col style="width: 1%">
        </colgroup>
        <thead>
          <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Modified</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr style="<%= 'font-weight: bold' if member.editable %>">
              <td>
                <%= link_to member.name, member, class: 'break-all' %>
              </td>
              <td class="whitespace-nowrap"
                title="<%= member.created_at.strftime("%m/%d/%Y, %H:%M") %>">
                <%= time_ago_in_words(member.created_at) %> ago
              </td>
              <td class="whitespace-nowrap"
                title="<%= member.updated_at.strftime("%m/%d/%Y, %H:%M") %>">
                <%= time_ago_in_words(member.updated_at) %> ago
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% elsif Current.user.organiser? || Current.user.member? %>
    <p>No members found - add one with the button above.</p>
  <% elsif Current.user.admin? %>
    <p>No members found - an organizer needs to create one.</p>
  <% end %>
</section>
